app-root
{
    height: 100%;
}

.product-detail
{
    margin-top: 7%;
    font-size: 24px;
    min-height: 100%;
}

.product-image-price
{
    margin-top: 1em;
    width: 43em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    background-color: var(--purple);
    border-radius: 10px;
}

.product-name
{
    margin-top: 1em;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
}

.product-image
{
    margin: 1em;
    max-height: 20em;
    max-width: 20em;
    display: inline-block;
    padding: 1em;
    background-color: var(--pink);
    border-radius: 10px;
}

.product-price-button
{
    display: inline-block;
    margin-left: 10%;
}

.product-price
{
    color: white;
    font-size: 1.5em;
}

.product-quantity
{
    height: 1.5em;
    width: 2.3em;
}

.add-to-cart
{
    background-color: var(--pink);
    height: 2em;
    width: 10em;
    border-radius: 20px;
    margin: 1em;
    border-color: var(--pink);
}
