<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
  <div class="container">
    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#header">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tienda" routerLinkActive="active">Helados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#details">Contacto</a>
        </li>
      </ul>
    </div>

    <a class="navbar-brand logo-text" href="#">El papá de los helados</a>

    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ms-auto navbar-nav-scroll">

        <li class="nav-item">
          <a class="nav-link" href="#features">Acceso administrativo</a>
        </li>
      </ul>
      <span class="nav-item">
        <a class="btn-solid-sm" href="#contact">Acceso clientes</a>
      </span>
    </div>
  </div>
</nav>

<header id="header" class="header">
  <div class="centerpantalla">
    <h1 class="textxentermain">HELADOS</h1>
    <h2 class="textxentermainh2">ARTESANALES</h2>
    <a class="btn-solid-sm" (click)="goToVotes()">Menu</a>
  </div>
</header>
