.user-container {
  display: flex;
  margin-top: 7rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fa {
  border: 1px solid #0092ff;
  color: white;
  text-decoration: none;
  text-align: center;
  height: 50px;
  width: 50px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border: none;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 50%;
}

.user-card-container {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 24px;
  background: var(--pink);
  min-height: 8rem;
  width: 12rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.1rem;
  border-radius: 10px;
}

.user-card {
  font-size: 14px;
  height: 10rem;
  width: 10rem;
  background-color: var(--purple);
  text-align: center;
  border-radius: 10px;
  margin: 2em;
  box-shadow: 0.6em 0.6em #d06aff;
}

.user-carddelete {
  font-size: 14px;
  height: 10rem;
  width: 10rem;
  background-color: rgb(158, 16, 16);
  text-align: center;
  border-radius: 10px;
  margin: 2em;
  box-shadow: 0.6em 0.6em #d06aff;
}

.helper {
  display: inline-block;
  height: 30%;
  vertical-align: middle;
}

.user-image {
  max-height: 5em;
  max-width: 5em;
  vertical-align: middle;
  display: inline-block;
}

.user-info {
  background-color: var(--purple);
  margin-top: 1.5em;
}

.user-infodelete {
  background-color: rgb(158, 16, 16);

  margin-top: 1.5em;
}

.user-name {
  font-size: 1.2em;
  color: white;
  overflow-wrap: break-word;
  margin-bottom: 0px;
}
