<div class="loginbg">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Modificar
        usuario</label>
      <div class="login-form">
        <div class="sign-up-htm">
          <input type="file" (change)="addImage($event)">
          <div class="group">
            <label for="user" class="label">Nombre del helado</label>
            <input id="user" type="text" class="input" name="nameice" #nameice>
          </div>
          <div class="group">
            <label for="price" class="label">Precio del helado</label>
            <input class="product-quantity" name="quantity" type="number" min="1" max="10" value="1"
              [(ngModel)]="quantity">
          </div>
          <div class="group">
            <button type="submit" class="button" value="Crear cuenta" (click)="addProduct(nameice.value)">Agregar helado</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
