.invoices-container
{
    margin-top: 5%;
    font-size: 20px;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}

.title
{
    text-align: center;
}

.invoice
{
    border: 1px solid #bbbbbb;
}

.invoice-date
{
    font-size: 1em;
    padding-left: 1em;
    height: 1.2em;
}

.purchase
{
    background-color: var(--grey);
    padding-left: 1em;
    padding-right: 1em;
    height: 1.3em;
}

.purchase:nth-child(odd)
{
    background-color: #eeeeee;
}

.product-name
{
    font-size: 1em;
    display: inline-block;
    width: 25em;
}


.purchase-quantity
{
    display: inline-block;
    font-size: 1em;
}

.invoice-total-label
{
    padding-left: 1em;
    font-size: 1em;
    display: inline-block;
    width: 24em;
}

.invoice-total
{
    display: inline-block;
    font-size: 1em;
}

.total-period
{
    padding-left: 1em;
    font-size: 1em;
}