.product-card
{
    font-size: 14px;
    height: 22em;
    width: 15em;
    background-color: var(--purple);
    text-align: center;
    border-radius: 10px;
    margin: 2em;
    box-shadow: 0.6em 0.6em #d06aff;
}

.product-image
{
    max-height: 12em;
    max-width: 13.2em;
    margin-top: 0.1em;
}

.product-info
{
    background-color: var(--purple);
    margin-top: 1.5em;

}

.product-name
{
    font-size: 1.2em;
    color: white;
    overflow-wrap: break-word;
    margin-bottom: 0px;
}

.product-price
{
    font-size: 1.5em;
    color: white;
}
